@import "../../sass/style";

.Footer {
    //*{background: rgba(0,0,0,0.1)}
    @include vs(margin-bottom, $VS3m, $VS3d);
    &__rule {
        width: 100%;
        border-bottom: 1px solid $color-grey-3;
        @include vs(margin-top, $VS2m, $VS2d);
        @include vs(margin-bottom, $VS2m, $VS2d);
    }

    &__col {
        @include make-col-ready;
        @include make-col(1, 6);
        &--last {
            @include make-col(3, 6);
            display: flex;
            justify-content: flex-end;
        }
    }

    &__scrollerWrapper {
        display: flex;
        justify-content: flex-end;
    }
    &__scroller {
        @include font-label-2;
        display: flex;
        align-items: center;
        svg {
            width: 18px;
            height: 18px;
            fill: currentColor;
            margin-top: -0.15em;
            margin-left: 4px;
        }
        @include hover {
            color: $color-grey-2;
        }
    }

    &__link {
        @include font-text-3;
        color: $color-grey-1;
        @include hover {
            color: $color-grey-2;
        }
    }
}
