@import "../../sass/style";

.Unwrapper {
    display: flex;
    &__go,
    &__hide,
    &__home {
        @include font-debug;
        height: 40px;
        background: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }
    &__go {
        flex-grow: 1;
        background: lighten(black, 30%);
    }
    &__home {
        background: lighten(black, 20%);
    }
}
