// Fonts

@font-face {
    font-family: "GillSansMTPro";
    src: url("/static/fonts/GillSansMTPro-Book.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "GillSansMTPro";
    src: url("/static/fonts/GillSansMTPro-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "FaktProMedium";
    src: url("/static/fonts/FaktPro-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

// NIKE
@font-face {
    font-family: "Nike TG";
    src: url("/static/fonts/NikeTG.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "Helvetica";
    src: url("/static/fonts/Helvetica.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "Nike Futura";
    src: url("/static/fonts/NikeFutura.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

$FONT_MONO: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;

$FONT_SANS: "GillSansMTPro", Arial, "Helvetica Neue", Helvetica, sans-serif;
$FONT_SANS_2: "FaktProMedium", Arial, "Helvetica Neue", Helvetica, sans-serif;

$FONT_SANS_3: "Nike TG", Arial, "Helvetica Neue", Helvetica, sans-serif;
$FONT_SANS_4: "Helvetica", Arial, "Helvetica Neue", Helvetica, sans-serif;
$FONT_SANS_5: "Nike Futura", Arial, "Helvetica Neue", Helvetica, sans-serif;

@mixin font-heading-1() {
    font-family: $FONT_SANS;
    @include vs(font-size, 16px, 16px);
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
}

@mixin font-text-1() {
    font-family: $FONT_SANS;
    @include vs(font-size, 15px, 15px);
    line-height: 1.1;
    font-weight: 500;
}
@mixin font-text-2() {
    font-family: $FONT_SANS;
    @include vs(font-size, 13px, 13px);
    line-height: 1.5;
    font-weight: 500;
}
@mixin font-text-3() {
    font-family: $FONT_SANS;
    @include vs(font-size, 12px, 13px);
    line-height: 1.8;
    font-weight: 400;
}
@mixin font-editorial-heading() {
    font-family: $FONT_SANS_2;
    @include vs(font-size, 40px, 80px);
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: 500;
}
@mixin font-editorial-1() {
    font-family: $FONT_SANS_2;
    @include vs(font-size, 40px, 80px);
    line-height: 1.1;
    font-weight: 500;
}
@mixin font-editorial-2() {
    font-family: $FONT_SANS_2;
    @include vs(font-size, 20px, 24px);
    line-height: 1.5;
    font-weight: 500;
}
@mixin font-editorial-3() {
    font-family: $FONT_SANS_2;
    @include vs(font-size, 15px, 15px);
    line-height: 1.5;
    font-weight: 500;
}
@mixin font-editorial-label() {
    font-family: $FONT_SANS_2;
    @include vs(font-size, 15px, 15px);
    text-transform: uppercase;
    line-height: 1.1;
    font-weight: 500;
}

@mixin font-label-1 {
    font-family: $FONT_SANS;
    @include vs(font-size, 13px, 13px);
    line-height: 1.1;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.0825em;
}
@mixin font-label-2() {
    font-family: $FONT_SANS;
    @include vs(font-size, 10px, 10px);
    line-height: 1.1;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.0825em;
}
//////

@mixin font-nike-1-1 {
    font-family: $FONT_SANS_3;
    @include vs(font-size, 26px, 26px);
    line-height: 1.1;
    font-weight: 400;
    text-transform: uppercase;
}
@mixin font-nike-1-2 {
    font-family: $FONT_SANS_3;
    @include vs(font-size, 18px, 18px);
    line-height: 1.1;
    font-weight: 400;
    text-transform: uppercase;
}
@mixin font-nike-2-1 {
    font-family: $FONT_SANS_4;
    @include vs(font-size, 24px, 30px);
    line-height: 1.4;
    font-weight: 400;
}
@mixin font-nike-2-2 {
    font-family: $FONT_SANS_4;
    @include vs(font-size, 18px, 18px);
    line-height: 1.5;
    font-weight: 400;
}
@mixin font-nike-2-3 {
    font-family: $FONT_SANS_4;
    @include vs(font-size, 16px, 16px);
    line-height: 1.5;
    font-weight: 400;
}
@mixin font-nike-2-4 {
    font-family: $FONT_SANS_4;
    @include vs(font-size, 14px, 14px);
    line-height: 1.4;
    font-weight: 400;
}
@mixin font-nike-3-1 {
    font-family: $FONT_SANS_5;
    @include vs(font-size, 70px, 80px);
    line-height: 0.85;
    font-weight: 400;
    text-transform: uppercase;
}
@mixin font-nike-3-2 {
    font-family: $FONT_SANS_3;
    font-size: 17px;
    line-height: 1.8;
    font-weight: 700;
    text-transform: uppercase;
}

@mixin font-debug {
    font-family: $FONT_MONO;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}

strong {
    font-weight: 500;
}
