@import "../../../sass/style.scss";

.EditorialTwoImages {
    position: relative;
    * {
        //background: rgba(0,0,0,0.05);
    }

    &__col {
        @include make-col-ready;
        @include make-col(1, 1);
        @include media-breakpoint-down(md) {
            &:last-child {
                @include global-space(margin-top);
            }
        }
        @include media-breakpoint-up(lg) {
            @include make-col(1, 2);
        }
    }

    &__wrapper {
        @include make-row;
        height: 100%;
        &--justifyCenter {
            justify-content: center;
        }
        &--justifyRight {
            justify-content: flex-end;
        }
        &--alignCenter {
            align-items: center;
        }
        &--alignBottom {
            align-items: flex-end;
        }
    }

    &__image {
        @include make-col-ready;
        @include make-col(12, 12);
        &--small {
            @include make-col(10, 12);
            @include media-breakpoint-up(lg) {
                @include make-col(6, 12);
            }
        }
        &--medium {
            @include make-col(10, 12);
            @include media-breakpoint-up(lg) {
                @include make-col(8, 12);
            }
        }
        &--hasTopOffset {
            margin-bottom: -20%;
        }
    }
}
