@import "../../sass/style";

$_OPTION_HEIGHT: 60px;

.AccordionGroup {
    .Collapsible {
        border-top: 1px solid $color-grey-3;
        &:last-child {
            border-bottom: 1px solid $color-grey-3;
        }
        &__icon {
            display: none;
            padding-left: 20px;
            svg {
                width: 18px;
                height: 18px;
            }
        }
        &__trigger {
            &.is-open {
                .Collapsible__icon--opened {
                    display: block;
                }
            }
            &:not(.is-open) {
                .Collapsible__icon--closed {
                    display: block;
                }
            }
            &Inner {
                display: flex;
                align-items: center;
                height: $_OPTION_HEIGHT;
                cursor: pointer;
                user-select: none;
            }
        }
        &__title {
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
        }
        &__contentInner {
            @include vs(padding-bottom, $VS3m, $VS3d);
        }
    }
}
