@import "../../sass/style";

.ProductBox1 {
    display: flex;
    flex-direction: column;
    position: relative;
    &__images {
        position: relative;
    }
    &__image {
        &--main {
            z-index: 2;
            @include hover {
                opacity: 0;
            }
        }
        &--onHover {
            z-index: 1;
        }
        &:not(.ProductBox1__image--main) {
            position: absolute !important;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &--isOnTop {
            opacity: 1;
            z-index: 5;
        }
    }
    &__variants {
    }
    &__content {
        display: flex;
        flex-wrap: wrap;

        &Head {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            @include vs(margin-top, $VS1m, $VS1d);
            @include vs(margin-bottom, $VS1m, 10px);
        }
    }
    &__titleRow {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__title {
        @include font-heading-1;
    }

    &__label {
        @include font-label-1;
        color: $color-grey-2;
    }

    &__priceRow {
        width: 100%;
        display: flex;
        order: 2;
    }
    &__heart {
        margin-left: $VS1m;
    }

    &__price {
        @include font-heading-1;
        &--before {
            color: $color-grey-2;
            text-decoration: line-through;
            margin-left: 0.5em;
        }
    }

    &__variantsTriggers {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    &__trigger {
        @include vs(margin-top, $VS1m, 10px);
        width: 24px;
        height: 24px;
        padding: 4px;
        border: 1px solid transparent;
        &Inner {
            width: 100%;
            height: 100%;
        }
        @include hover {
            cursor: pointer;
            border-color: $color-grey-3;
        }
        &:first-child {
            margin-left: -5px;
        }
        margin-right: 1px;
    }
}
