@import "../../sass/style";

$_OPTION_HEIGHT: 42px;

.SizePicker {
    position: relative;
    &__head {
        display: flex;
    }

    &__title {
        flex-grow: 1;
        @include vs(margin-bottom, $VS2m, $VS2d);
    }
    &__link {
        text-decoration: underline;
    }
    &__sizes {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 8px;
        padding: 0;
    }
    &__option {
        text-align: center;
        &__radio {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
        }
        &__label {
            position: relative;
            flex-grow: 1;
            color: $color-black;
            border: 1px solid $color-grey-3;
            margin-bottom: 0;
            height: $_OPTION_HEIGHT;
            user-select: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__radio:checked + .SizePicker__option__label {
            box-shadow: inset 0 -2px 0 #444444;
            border-bottom: none;
            padding-bottom: 1px;
        }
        &__radio:focus + .SizePicker__option__label {
            //border-color: $color-black;
        }
        &__radio:disabled + .SizePicker__option__label {
            cursor: default;
            color: $color-grey-3;
            background: white;
            pointer-events: none;
            &:after {
                background: linear-gradient(
                    to top left,
                    rgba(231, 231, 231, 0) 0%,
                    rgba(231, 231, 231, 0) calc(50% - 0.8px),
                    #e7e7e7 50%,
                    rgba(231, 231, 231, 0) calc(50% + 0.8px),
                    rgba(231, 231, 231, 0) 100%
                );
                content: "";
                position: absolute;
                width: calc(100%);
                height: 100%;
                top: 0;
                left: 0;
            }
        }
    }
}
