@import "../../../sass/style";

.TitleTextLink {
    @include font-text-2;

    &__title {
        margin-top: $VS2m;
        @include font-label-1;
    }
    &__text {
        margin-top: $VS1m;
        margin-bottom: $VS1m;
    }
    &__link {
        text-decoration: underline;
        @include hover {
            color: lighten($color-grey-1, 20%);
        }
    }

    &--fixedTextHeight {
        .TitleTextLink__title {
            height: calc(1 * 1em);
            overflow: hidden;
        }
        .TitleTextLink__text {
            height: calc(3 * 1.5em);
            overflow: hidden;
        }
    }
}
