@import "../../../sass/style";

.ProductVariants {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
    &__variant {
        cursor: pointer;
        position: relative;

        &--isActive {
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $color-black;
            }
        }

        &:hover {
            opacity: 1;
        }
    }
}
