@import "../../sass/style";

.NotificationBar {
    //*{background: rgba(0,0,0,0.1)}
    background: lighten($color-grey-1, 10%);
    color: white;

    &__inner {
        height: $NOTIFICATIONBAR_HEIGHT;
        @include make-container;
        @include font-label-2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
